html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    letter-spacing: 1.4px;
    line-height: 24px;
    color: #5d5c5c;
}
.no-margin-top{
    margin-top: 0;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding: 0;
}
.float-right{
    float: right;
}
h1 {
    font-size: 24px;
    font-weight: bold;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 18px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lekton', sans-serif;
    letter-spacing: 1.1pt;
    color: #333;
    clear: both;
    padding-bottom: 5px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 20px;
}
.header {
    height: 100px;
    width: 100%;
    z-index: 9;
    position: relative;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #F6F6F6;
    border-bottom: 1px solid #d5d5d5;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    animation-duration: 0.5s;
    animation-name: fadeInUp;
  }
header{
    width: 100%;
    height: 64px;
    z-index: 9;
    position: relative;
    background-color: #F3F3F3;
    padding: 12px;
    border-bottom: 1px solid #ddd
}
.headerTitle h3{
    margin-top: 10px;
}
.paramHeaderBtn{
    /*border: 1px solid #aaa;
    background-color: transparent;*/
    background-color: #E7FAFE;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    float: right;
}
.paramHeaderBtn span +span{
    color:limegreen;
}
.card{
    padding: 40px;
    height: 100%;
    width: 100%;
    box-shadow: 1px 1px 1px 1px #ddd;
}
.card-borderless{
    box-shadow: none;
}
input[type=checkbox]{
    transform: scale(1.5);
}
.hr-Underline {
    width: 40px;
    height: 1px;
    background: #111111;
    border-top: 0;
    margin-top: 0px;
    margin-bottom: 20px;
    clear: both;
    display: inline-block
}

hr.center{
    margin:  10px auto;
    display: block;
}
.margin-bottom{
    margin-bottom: 100px;
}
.right{
    float: right;
}
.usercheckbox{
    margin-top: 5px !important;
}
.threeBlocks{
    margin: 90px 0;
}
.blackBtn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
}
.custom-control-label{
    color: #000;
    font-weight: 500;
}
.productCard{
    padding: 10px;
    min-height: 450px;
    margin-bottom: 28px;
    /*min-height: 194px;*/
}
.InitProposalBtn{
    margin: 20px 0;
}
.addProductBtn{
    background-color: #ff8b00;
    color: #fff;
    border: 1px solid #ff8b00;
}
.addedProductBtn{
    background-color: #15db89;
    border: 1px solid #15db89;
}
.productImg{
    padding-top: 30px;
}


/*..*/
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}
.fancy-checkbox-info{
    padding: 1px;
}

/**/
.warrantyContent {
    margin: 70px 0;
}
.warrantyHeader{
    margin-top: 25px;
    margin-bottom: 10px;
}
.warrantydetails,
.orderdetails{
    padding: 30px;
    border: 1px solid #ddd;
}
.buyerIdInput{
    border: none;
    border-bottom: 1px solid #ddd;
    max-width: 340px;
}
span{
    display: inline-block;
}

.proposalMarginTop{
    margin-top: 24px;
}
.orderSummaryHeader{
    margin: 16px;
}
.orderSummaryTable{
    margin: 35px 25px 35px 0px;
}
.orderSummaryTable>table> thead, 
.productTable>thead,
.warrantyserviceTable>thead{
    border-bottom: 1px solid #aaa;
}
.orderSummaryTable>table> tbody,
.productTable>tbody,
.warrantyserviceTable>tbody{
    border-bottom: 1px dashed #aaa;
}
.orderSummaryTable>table> tbody>tr>td,
.productTable>tbody>tr>td,
.warrantyserviceTable>tbody>tr>td{
    padding:5px 10px;
}
.productTable>thead>tr>th,
.productTable>tbody>tr>td,
{
    text-align: left;
}

.pl35{
    padding-left: 92px;
}
.pl6{
    padding-left: 6px;
}
.padding10px{
        padding:10px;
}
.taxBorder{
    border-bottom: 1px solid #aaa;
}
.grayBorder{
    border: 1px solid #aaa;
}
.ibtnDel{
    background-color: transparent;
    /* color: #f81313; */
}
.proposalInput{
    height: 30px !important;
}
.addtablerow{
    background-color: transparent;
    border: none;
}
.proposalBtn{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none; 
    opacity: 1;
    font-size: 12px;
}
.proposalBtn:hover{
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    border: none; 
    opacity: 0.7;
}
.proposalHeader{
    padding: 0 20px;
}
.proposalHeader>h5,
.serviceTable>h5 { 
    margin-top: 32px;    
}
.discountInput{
    width: 65px !important;
}
/**/
input[type="text"],
input[type="email"],
textarea {
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #111;
}
input[type="text"], input[type="email"] {
    height: 30px;
    width: 100%;
}

/*...timeline....*/
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    right:-100px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 180px;
    left:-100px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 1px solid #3b5998;
    border-radius: 100%;
    box-shadow: 0 0 5px #4582ec;
    width: 100px;
    height: 100px;
    margin-left: -100px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    color:#808080;
}

.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 46px;
    bottom: 0;
    left: 636px;
    width: 1px;
    height: 215px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); 
    -webkit-transform: rotate(-44deg);
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}

.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 68px;
    bottom: 0;
    left: 445px;
    width: 1px;
    height: 226px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 690px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 76%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0px;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    left: 520px;
    margin-left: 0px;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: left;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 70%;
    padding: 0 0 20px 0px;
    text-align: right;
  }
  .timeline > li .line {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .timeline > li:nth-child(even) {
    margin-bottom: 0px;
    min-height: 0px;
    right: 0px;
  }
  .timeline > li:nth-child(odd) {
    margin-bottom: 0px;
    min-height: 0px;
    left: 0px;
  }
  .timeline>li .timeline-image {
    position: static;
    width: 150px;
    height: 150px;
    margin-bottom:0px;
  }
  .timeline>li:nth-child(even) .timeline-image {
    left: 0;
    margin-left: 0;
  }
  .timeline>li:nth-child(odd) .timeline-image {
    float:right;
    left: 0px;
    margin-left:0;
  }
  .timeline > li:nth-child(even) .timeline-panel {
    width: 100%;
    padding: 0 0 20px 14px;
  }
  .timeline > li:nth-child(odd) .timeline-panel {
    width: 100%;
    padding: 0 14px 20px 0px;
  }
  .timeline > li .line {
    display: none;
  }
}

/**/
.timelineTrans{
    background-color: #ddd;
    padding: 35px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-height: 350px;
}
.proposalTimelineContent{
    position: relative;
    left: 17%;
    top: 146px;
}
.poTimelineContent{
    position: relative;
   left: 17%;
    top: 273px;
}
.receiptTimelineContent{
    position: relative;
    left: 17%;
    top: 390px;
}
.invoiceTimelineContent{
    position: relative;
    top: 217px;
    right: 35px;

}
.PaymentTimelineContent{
    position: relative;
    top: 345px;
    right: 35px;
}
.timelinePara{
    font-size: 16px;
    letter-spacing: 0;
}
.sellerTimelineTitle{
    position: relative;
    top: 58px;
    left: -71px;
}
.buyerTimelineTitle{
    position: relative;
    bottom: 409px;
    left: 65px;
}
.timelineImg{
    width: 320px;
    height: auto;
}
p{
   margin: 0;
}
.services-icon>span {
    font-size: 36px;
    padding-bottom: 24px;
    clear: both;
    float: left;
}
.services-icon>hr {
    float: left;
}
.title-img{
    width: 36px;
}
.hr-full{
    margin: 0;
    border-color: #000;
    width: 180px;
    margin: 0 17px;
}
.timelineTrans p{
    margin: 5px 0;
}
.completionStatus{
    margin: 36px 0;
}
.MB10{
    margin-bottom: 10px;
}
.vhcenter{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
}
/*...loading....*/
#loadingDiv{
    display: none;
}
.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: fixed;
  top:50%;
  bottom:50%;
  left: 50%;
  right: 50%;
  z-index: 99;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/**/
.enterBtn{
    background-color: transparent;
    color: #000;
    text-transform: uppercase;
    opacity: 1;
    border: 1px solid #000;
    font-size: 12px;
    margin: 15px 0;
}
/*usecase*/
.table-outline {
    border: 1px solid #c8ced3;
}
.table .thead-light th {
    color: #000;
    /*background-color: #e4e7ea;
    border-color: #c8ced3;*/
}
.table thead{
    background-color: #d5d5d5;
}
.table tbody{
    background-color: #f4f4f4;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c8ced3;
}
.tabTable>thead>tr>th,
.tabTable>tbody>tr>td{
    padding: 15px;
    vertical-align: top;
    border-top: 1px solid #c8ced3;
    text-align: right;
    color: #000;
}
.tabTable>thead>tr>th:first-child{
    text-align: left;
}
.tabTable>tbody>tr>td:first-child{
    text-align: left;
}

.query{
    margin: -5px 0 5px 0
}
.headerUsecase{
    text-align: right;
    margin: 9px 0;
    font-weight: 500;
}
.statisticsContainer{
    margin-bottom: 32px;
}
.fiveStepList{
    list-style-type: none;
}
.fiveStepList>li>h3{
    font-size: 34px;
}

/*tabs*/
.tab {
  position: relative;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 300;
  color: #888;
  -webkit-font-smoothing: antialiased;
}

.tabs {
  display: table;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 100px;
  width: 100%;
}
.tabs li {
  float: left;
  line-height: 38px;
  overflow: hidden;
  padding: 0;
  position: relative;
  min-height: 42px;
  border: 1px solid #ddd;
}
.tabs li:first-child{
  /*border-radius: 20px 0px 0 20px;*/
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.tabs li:last-child{
  /*border-radius: 0px 20px 20px 0;*/
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.tabs a {
  background-color: #fff;
  border: none;
  color: #7a7979;
  font-weight: 500;
  font-size: 14px;
  display: block;
  letter-spacing: 0;
  outline: none;
  padding: 0 20px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
    font-family: "Lekton",'sans-serif';
    font-weight: 600;
  /*border-bottom: 2px solid blue;*/
}
.tab_content{
  padding: 50px 20px 0 20px;
}

.tabs_item {
  display: none;
  /*padding: 30px 0;*/
}
.tabs_item h4 {
  font-weight: bold;
  font-size: 20px;
}
.tabs_item img {
  width: 150px;
  /*float: left;*/
  /*margin-right: 30px;*/
  margin-top: 40px;
  /*margin-left: 80px;*/
  
}
.tabs_item:first-child {
  display: block;
}

.current a {
  border: 1px solid #FED6D5;
  background: #FDE9E9;
  color: #414040;
  font-size: 16px;
}
@media (max-width:48em){
 .tabs li:first-child  ,.tabs li:last-child{
     border-radius: 0px 0px 0px 0px;
  }
  .tabs {
     padding: 0;
  }
}
.tabSection{
    background-color: #FBFBFB;
    border-bottom: 1px solid #f2f2f2;
    padding: 60px 0 60px 0;
}

.text-content {
    text-align: left;
    position: relative;
    font-size: 15px;
    color: #47525d;
    font-weight: 300;
    padding: 11px 4px 3px;
    min-height: 140px;
}
.text-content .item-number {
    /*color: #E9EAEB;*/
    color:#cbc9c9;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
    margin-top: 2px;
}
.text-content .detail {
    overflow: hidden;
    color: #3a3a3a;
}
.mobilefirst{
  display: none;
}
@media (max-width:48em){
  .middle{
    display: none;
  }
  .mobilefirst{
    display: block;
    margin-bottom: 15px;
  }
  .text-content{
    min-height: 0;
  }
}
.buyercolor{
  margin: 25px 0 0px 0;
      padding: 0 170px 0 170px;
}
.buyercolor .current a{
  border: 1px solid #E8F8FF;
  background: #E8F8FF;
  color: #000;
  font-size: 16px;
  font-family: "Lekton",'sans-serif';
  font-weight: 600;
}
.tabTableSection{
        margin: 50px 0px;
}
.MB70{
    margin-top: 70px;
}
.receiptBlock{
    padding: 38px;
}
.center{
    text-align: center!important;
}

.rpcModal{
    width: 45%;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}

/*main index css*/
.radiobox{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: 100%;
}
.radiobox-inner{
    padding: 30px;
}
.radioLabel{
    margin: 7px;
}
input[type='radio']:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #aaa;
}

input[type='radio']:checked:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #31B0D5;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #31B0D5;
}
/**/
.errorBox{
    padding: 30px;
    box-shadow: 1px 1px 1px 1px #ddd;
    text-align: center;
    margin: 0 64px;
    position: relative;
    top: 190px;
}
.proposalBtn a{
    color:#fff;
    text-decoration: none;
}
.cursor{
    cursor: pointer;
}
.transInfoCenter{
    width: 50%;
    margin: auto;
}