@media (max-width:768px){
    header{
        margin-bottom:0px!important;
    }
}
/*...Timeline*/
@media only screen and (max-width: 1200px){
    .main-timeline .title{
        font-size: 20px;
        padding-left: 10px;
    }
    .main-timeline .timeline:nth-child(2n) .title{ padding-right: 10px; }
}
@media only screen and (max-width: 990px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n){ padding: 10px 50px; }
}
@media only screen and (max-width: 767px){
    .main-timeline:before{ left: 20px; }
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(even),
    .main-timeline .timeline:nth-child(odd){
        width: 100%;
        float: none;
        padding: 10px 50px 10px 55px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(2n):before{ left: 5px; }
    .main-timeline .timeline:nth-child(2n) .timeline-content{ text-align: left; }
    .main-timeline .timeline:nth-child(2n) .title{
        padding: 8px 55px 8px 10px;
        border-radius: 25px 25px 25px 0;
    }
    .main-timeline .timeline:nth-child(2n) .title i{
        left: auto;
        right: 15px;
    }
}
@media only screen and (max-width: 479px){
    .main-timeline .timeline,
    .main-timeline .timeline:nth-child(2n){ padding: 10px 0 10px 55px; }
}