 <header>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-7 headerTitle">
                <h4 class="no-margin-top" onclick="javascript: window.location = '../index.html'">
                    <span style="font-size: 30px;text-transform: none; font-weight: 100;">⦃param⦄.</span>
                    <span style="font-size: 25px;text-transform: none; font-weight: 100;margin-left: -12px;">ODR</span>
                </h4>
            </div>
            <div class="col-md-2 hidden-xs"></div>
            <div class="col-md-6 col-xs-5">
                <div class="row">
                    <div class="col-md-12 col-sm-12 hidden-xs text-right">
                        <div class="paramHeaderBtn">
                            <span>Simulator network :</span>
                            <span id="connectionStatus">Live</span>
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>  
    </div>
</header>
 <div class="modal fade" id="MetamaskRpcModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span><h4 class="modal-title">Choose option</h4></span>
                        <span class="float-right"><button type="button" class="close" data-dismiss="modal">&times;</button></span>                        
                    </div>
                    <div class="modal-body">
                        <div class="radiobox">
                            <div class="radiobox-inner">
                                    <div class="custom-control custom-radio" onclick="checkMetamask()">
                                        <input type="radio" class="custom-control-input" id="metamaskChecked" name="defaultExampleRadios">
                                        <label class="custom-control-label radioLabel" for="metamaskChecked">Continue with metamask</label>
                                    </div>
                                    <div class="custom-control custom-radio" onclick="createCustomRpc()">
                                        <input type="radio" class="custom-control-input" id="customrpcChecked" name="defaultExampleRadios">
                                        <label class="custom-control-label radioLabel" for="customrpcChecked">Custom RPC</label>
                                    </div>
                                    <div id="rpcContent" style="display:none;">
                                        <form>
                                            <div class="form-group">
                                                <label for="rpcUrl" class="col-form-label">Enter your URL</label>
                                                <input class="form-control" id="rpcUrl" value="http://192.168.0.9:8545"/>
                                            </div>
                                        </form>
                                        <button type="button" class="btn proposalBtn"  onclick="saveCustomRPC()">Save</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script>
    // web3.currentProvider.isConnected()
     $("#connectionStatus").text("Loading");
     function onUpdateHeader(){
         $("#connectionStatus").text("Live");
     }
    //  $(document).ready(function() {
    //     if (typeof web3 !== 'undefined') {
    //         if(web3.currentProvider.isConnected()){
    //             $("#connectionStatus").text("Live");
    //             return;
    //         }
    //     }
    //       $("#connectionStatus").text("Loading");
    //       swal("Error!", "Please select the custom RPC", "error");
    //     //   $('#MetamaskRpcModal').modal('show');
    //   });
</script>
<link rel="stylesheet" href="../plugins/sweetalert/sweetalert.css" />
<script src="../plugins/sweetalert/sweetalert.min.js"></script> 
<script src="../js/mainindex.js"></script> 